/* Your styles here */
* {
  box-sizing: border-box;
}

body {
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans";
  line-height: 1.65;
  text-align: center;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.5;
  font-size: 2rem;
}

.headings {
  color: #25a2c3;
  font-weight: bold;
}

img {
  width: 100%;
}

header {
  background-color: #000;
  text-align: left;
}

header img {
  margin: 2rem 4rem;
  width: 15%;
}

#description {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  padding: 10rem;
}

#description h2 {
  margin-bottom: 1rem;
}

#description p {
  margin-bottom: 2rem;
}

#description button {
  background-color: #f04c2f;
  color: #fff;
  border: none;
  font-family: "Montserrat";
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 5px;
}

main section:first-of-type {
  padding: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main section:first-of-type div {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

main section:first-of-type div:last-of-type {
  margin-left: 2rem;
  width: 35%;
}

main section:first-of-type div:last-of-type p {
  line-height: 1;
}

.titoletti {
  margin-bottom: 1rem;
}

main section div p {
  margin-bottom: 2rem;
}

#round-image {
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

#testimonianze {
  background-color: #e22d03;
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#testimonianze h2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#testimonianze p {
  margin: 0;
}

#testimonianze p:first-of-type {
  font-style: italic;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

#testimonianze p:last-child {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

main section:last-of-type {
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.schede {
  display: inline-block;
  width: 30%;
  border: 1px solid #dee1e3;
  margin-left: 1rem;
  vertical-align: top;
  min-height: 457px;
}

.schede img {
  height: 240px;
}

.titolo-image {
  margin-top: 1rem;
  margin-bottom: 0;
}

.schede p:last-of-type {
  padding: 1rem;
}

footer {
  padding: 2rem;
  background-color: #25a2c3;
}

footer h2 {
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.fas {
  color: #fff;
  margin-right: 0.5rem;
}

footer a {
  color: #c8e7f0;
}

footer p {
  color: #c8e7f0;
  font-size: 0.8rem;
}

#location {
  margin-bottom: 2rem;
}

.contacts-info {
  width: 210px;
  text-align: left;
  margin: auto;
}

#lastP {
  margin-top: 2rem;
  font-size: 0.6rem;
}

hr {
  width: 20%;
}
